{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'checklists.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <title>Perfil de Cliente</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>

<body>
    <div class="container">
        <label for="industria">Selecciona una industria:</label>
        <select id="industria">
            <option value="industrial">Industrial</option>
            <option value="construccion">Construcción</option>
            <option value="minero">Minero</option>
        </select>

        <div id="prevencion-riesgos" class="hidden">
            <h2>Artículos de Prevención de Riesgos:</h2>
            <div id="checkboxes"></div>
        </div>
    </div>


    <div class="boton">
        
        <button id="btnGenerarPDF">Crear Checklist PDF</button>
    </div>

    <button id="mostrar-formulario"class='boton-agregar'>Mandar Correo</button>

    <form id="formulario-agregar" class="formulario" method="post" action="/enviar_formulario/" style="display: none;" enctype="multipart/form-data">

        {% csrf_token %}
        
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" placeholder="Correo" required>
        </div>

        <label for="archivo">Seleccionar Archivo:</label><br>
        <input type="file" id="archivo" name="archivo" accept=".pdf" required><br>   
        <br>
        <button type="submit">Mandar PDF</button>
        <button type="button" id="botonVolver">Volver</button>
    </form>
    <script>
        // Captura el botón y el formulario
        const botonMostrarFormulario = document.getElementById('mostrar-formulario');
        const botonVolver = document.getElementById('botonVolver');
        const formularioAgregar = document.getElementById('formulario-agregar');

        // Agrega un evento de clic al botón para mostrar/ocultar el formulario
        botonMostrarFormulario.addEventListener('click', () => {
            // Si el formulario está oculto, muéstralo; sino ocultsrlo
            if (formularioAgregar.style.display === 'none' || formularioAgregar.style.display === '') {
                formularioAgregar.style.display = 'block';
            } else {
                formularioAgregar.style.display = 'none';
            }
            botonVolver.addEventListener('click', () => {
        formularioAgregar.style.display = 'none';
    });
        });
    </script>
    <script>
        async function cargarJsPDF() {
            return new Promise((resolve, reject) => {
                const script = document.createElement('script');
                script.src = 'https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js';
                script.onload = resolve;
                script.onerror = reject;
                document.head.appendChild(script);
            });
        }

        async function iniciar() {
            await cargarJsPDF();

            const industriaSelect = document.getElementById('industria');
            const prevencionRiesgosDiv = document.getElementById('prevencion-riesgos');
            const checkboxesDiv = document.getElementById('checkboxes');
            const btnGenerarPDF = document.getElementById('btnGenerarPDF');
            const mostrarformulario = document.getElementById('mostrar-formulario');

            industriaSelect.addEventListener('change', mostrarArticulos);

            const articulos = {
                industrial: ['Guantes de protección', 'Gafas de seguridad', 'Chaleco reflectante', 'Casco de seguridad', 'Calzado de seguridad (botas)', 'Protección para los oídos (tapones o protectores auditivos)', 'Máscara de respiración o respirador', 'Arnés de seguridad', 'Ropa ignífuga', 'Protectores para rodillas y codos', 'Protección para caídas', 'Extintor de incendios', 'Ducha de emergencia y lavaojos', 'Señalización de seguridad', 'Equipos de bloqueo y etiquetado (LOTO)', 'Dispositivos de seguridad en maquinaria'],
                construccion: ['Casco de construcción', 'Gafas de seguridad', 'Botas de seguridad con punta de acero', 'Guantes de trabajo resistentes', 'Cinturón de herramientas', 'Arnés de seguridad para trabajos en altura', 'Protección para oídos', 'Mascarilla antipolvo', 'Rodilleras para trabajos en superficies duras', 'Ropa de alta visibilidad', 'Barreras de seguridad y conos de señalización', 'Extintor de incendios', 'Señalización de zonas de peligro', 'Equipos de primeros auxilios', 'Maquinaria y herramientas con dispositivos de seguridad'],
                minero: ['Casco de minero con linterna', 'Gafas de seguridad resistentes a impactos', 'Protector facial', 'Guantes resistentes a cortes y abrasiones', 'Botas de seguridad con punta de acero', 'Ropa ignífuga o resistente a productos químicos', 'Arnés de seguridad para trabajos en altura', 'Respiradores o máscaras contra polvo y gases', 'Protectores auriculares para entornos ruidosos', 'Dispositivos de detección de gases', 'Señalización de zonas peligrosas', 'Equipos de rescate y evacuación', 'Barreras de seguridad para áreas de excavación']
            };

            function mostrarArticulos() {
                const industriaSeleccionada = industriaSelect.value;
                checkboxesDiv.innerHTML = '';

                if (industriaSeleccionada === 'industrial' || industriaSeleccionada === 'construccion' || industriaSeleccionada === 'minero') {
                    prevencionRiesgosDiv.classList.remove('hidden');
                    articulos[industriaSeleccionada].forEach(articulo => {
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.id = articulo;
                        checkbox.name = articulo;
                        const label = document.createElement('label');
                        label.textContent = articulo;
                        label.htmlFor = articulo;
                        checkboxesDiv.appendChild(checkbox);
                        checkboxesDiv.appendChild(label);
                        checkboxesDiv.appendChild(document.createElement('br'));
                    });
                } else {
                    prevencionRiesgosDiv.classList.add('hidden');
                }
            }

            
            btnGenerarPDF.onclick = function () {
    const checkboxes = document.querySelectorAll('#checkboxes input[type="checkbox"]:checked');

    if (checkboxes.length === 0) {
        alert('Por favor, selecciona al menos un artículo.');
        return;
    }

    const doc = new window.jspdf.jsPDF();
    const industriaSeleccionada = industriaSelect.value;

    // Título del PDF
    doc.text(`Checklist de Prevención de Riesgos - ${industriaSeleccionada}`, 20, 10);

    // Contenido del PDF
    let posY = 20;  

    checkboxes.forEach(checkbox => {
        const texto = checkbox.nextSibling.textContent;
        doc.text(`- ${texto}`, 20, posY);
        posY += 10;  
    });

    // Descargar el PDF
    doc.save('checklist.pdf');
};
            // Agregar la función para enviar el formulario con el correo y el archivo adjunto
            mostrarformulario.onclick = function () {
                const correo = document.getElementById('correo').value;
                const archivo = document.getElementById('archivo').files[0];

                if (!correo || !archivo) {
                    alert('Por favor, complete todos los campos.');
                    return;
                }

                const formData = new FormData();
                formData.append('correo', correo);
                formData.append('archivo', archivo);
                console.log('Correo:', correo);
console.log('Archivo:', archivo);

                enviarFormulario(formData);
            };

            // Función para enviar el formulario al servidor
            function enviarFormulario(data) {
    fetch('/enviar_formulario/', {
        method: 'POST',
        body: data
    })
    .then(response => response.json())
    .then(data => {
        // Verificar si el formulario se envió con éxito
        if (data.message === 'Formulario enviado con éxito') {
            // Mostrar alerta SweetAlert
            Swal.fire({
                title: 'Éxito',
                text: 'El formulario se envió con éxito.',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        } else {
            // Mostrar alerta de error
            Swal.fire({
                title: 'Error',
                text: 'Hubo un error al enviar el formulario.',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        }

        document.getElementById('formulario-agregar').reset();  // Limpiar el formulario después de enviar
        formularioAgregar.style.display = 'none';  // Ocultar el formulario después de enviar
    })
    .catch(error => {
        console.error('Error al enviar la solicitud al servidor:', error);
        // Mostrar alerta de error
        Swal.fire({
            title: 'Error',
            text: 'Hubo un error al enviar el formulario.',
            icon: 'error',
            confirmButtonText: 'Aceptar'
        });
    });
}
        }

        // Llama a la función iniciar después de cargar la página
        window.onload = iniciar;
    </script>
</body>

</html>

