{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Solicitar caso de asesoria</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="{% static 'solicitar_asesoria.css' %}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
 
   
   
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
    <form action="{% url 'solicitar_asesorias' %}" method="POST" id="form" novalidate>
        {% csrf_token %}
            <h1>Solicita tu asesoria</h1>

            <input type="hidden" name="cliente_username" id="cliente_username"> <!-- Campo oculto para el nombre de usuario del cliente -->
            

            <label for="tipo_asesoria">Tipo de Asesoría:</label>
            <select id="tipo_asesoria" name="tipo_asesoria">
                <option value="Accidente">Accidente</option>
                <option value="Prevencion">Prevencion</option>
                <option value="Temas legales">Temas legales</option>
            </select>
            <br>

            <label for="">Fecha Registro</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio">


            <label for="">Detalles del evento (Razon de asesoria)</label>
            <input type="text" name="detalle" id="rpass">
            <span class="invalid-input"></span>

                
                
                <div class="check">
                    <label>
                        <input type="checkbox" id="miCheckbox" name="miCheckbox">
                    </label>
                </div>
                
                </div>
                <div class="lad">
                    <p>He leido los terminos y condiciones.</p>
                </div>
        
                <button type="submit"id="boton-registrarse">Solicitar</button>
            

            <p class="warnings" id="warnings"></p>
        </div>
    </form>

  <script>
document.addEventListener("DOMContentLoaded", function() {
    // Selecciona el formulario
    var formulario = document.getElementById("solicitud-form");

    // Agrega un evento de escucha para el evento de envío del formulario
    formulario.addEventListener("submit", function(event) {
        // Evita que el formulario se envíe automáticamente
        event.preventDefault();

        //  mostrar la alerta
        alert("¡Tu solicitud ha sido enviada con éxito!");

        // Ahora se puede enviar el formulario si es necesario
        formulario.submit();
    });
});

document.addEventListener("DOMContentLoaded", function() {
    var clienteUsername = localStorage.getItem("Nombre_Usuario");
    console.log("Nombre de usuario del cliente:", clienteUsername);
    if (clienteUsername) {
        document.getElementById("cliente_username").value = clienteUsername;
    } else {
        console.error("¡Error! Nombre de usuario del cliente no encontrado en el localStorage.");
    }
});
</script>

</body>
</html>